@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.large-btn {
  margin-top: 50px;
  padding: 20px 30px 20px 30px;
  background: #fef;
  transition: all 0.3s;
}

.large-btn:hover {
  background: #f6cace;
  transform: scale(1.1);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.component-enter {
  transform: translate3d(0, -20px, 0);
}

.component-leave-to {
  transform: translate3d(0, 20px, 0);
}

.component-enter,
.component-leave-to {
  opacity: 0;
}

.component-enter-active,
.component-leave-active {
  transition: all 0.3s;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #5a6268;
}

.edit:hover,
.edit:active {
  color: blue;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #5a6268;
  border-color: #5a6268;
}

.page-link {
  color: #5a6268;
}

.page-link:hover {
  color: #5a6268;
}

.trash:hover,
.trash:active {
  color: red;
}

a {
  color: #dc3545;
}

a:hover {
  color: #4e565f;
}

input:focus,
textarea:focus {
  border: 1px #343a40;
  box-shadow: 0px 0px 4px #343a40;
}
