@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.large-btn {
  margin-top: 50px;
  padding: 20px 30px 20px 30px;
  background: #fef;
  transition: all 0.3s;
}

.large-btn:hover {
  background: #f6cace;
  transform: scale(1.1);
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
